.widget-box
  - @forums.each do |forum|
    =link_to forum.name, forum_path(forum)

.widget-box.tags-could
  = render :partial => 'tags/tags/could', :object => @tagcould

.widget-box.rencent-topics
  = render :partial => 'forums/topics/list', :object => @topics

- content_for :aside do
  .widget-box
    = link_to '发表新主题', new_topic_path()
