.widget.topic{:class => ''}
  .head
    %h1.entry-title= @topic.title
    .entry-meta
      %span.author= ''
      %span.entry-date= t 'time.created_at', :time => readability_time_format(@topic.created_at)
  .entry-content
    = rich_content(@topic.content)
  .entry-utility
