/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
    color: #333;
    background-color:#E0E6E7;
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol,
ul {
    list-style-position:inside;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
    margin-bottom: 20px;
}

p {
    line-height:180%;
}
/* `Basic Link
----------------------------------------------------------------------------------------------------*/
a
{
    color:#069;
    text-decoration:none;
}
a:link
{
}
a:hover
{
    color:#09F;
}
a:visited
{
}
a:active
{
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/*
    The following zoom:1 rule is specifically for IE6 + IE7.
    Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
    zoom: 1;
}

/* `Common
----------------------------------------------------------------------------------------------------*/

.show {
    display:block !important;
}

.hidden {
    display:none !important;
}

.wrapper
{
    width:960px;
    margin:0 auto;
    position:relative;
}

/* `Form
----------------------------------------------------------------------------------------------------*/

form .field {
    clear:both;
    font-size:14px;
}
form label {
    font-size:14px;
}
form input[type="text"],
form input[type="password"],
form textarea {
    padding:5px 0;
    border:1px solid #CCC;
}
form .editor {
    width:100%;
}

/* `Header
----------------------------------------------------------------------------------------------------*/

#header
{
    background:#FFF;
    border-bottom:2px solid #33CEE1;
    margin-bottom:20px;
}
#header .wrapper {
    height:40px;
    padding:10px 0 0;
}
#header a
{
    color:#09F;
}
#header a:hover
{
    color:#00CEE1;
}
#logo
{
    font-size: 200%;
    text-align:center;
    margin:0 10px 0 0;
    background:url(../images/logo.png) no-repeat 5px 3px;
    height:40px;
    width:240px;
    text-indent:-9999px;
    overflow:hidden;
    float:left;
}
#session-menu
{
    position:absolute;
    right:0;
    bottom:7px;
    padding:0 3px;
}
#session-menu ul
{
    display:inline;
    list-style:none;
    margin:5px 0;
}
#session-menu ul li
{
    display:inline;
    margin:0 0 0 1em;
}
#site-search
{
    float:left;
    width:320px;
}
#site-nav
{
    overflow:hidden;
    clear:both;
}

#site-nav ul
{
    list-style:none;
}

#site-nav ul li
{
    float:left;
    margin:0;
}

#site-nav ul li a
{
    color:#888;
    background-color:transparent;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    padding:6px 1em;
    margin:5px 3px;
    display:block;
}

#site-nav ul li a:hover, #site-nav ul li.active a
{
    color: #00cee1;
    text-decoration:none;
}


/* `Content
----------------------------------------------------------------------------------------------------*/

#content
{
    clear:both;
}
#content .container
{
    background:#FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#content .widget {
    position:relative;
    margin-bottom:20px;
}
#content .widget .widget-title
{
    margin:0 10px;
}
#content .widget .widget-container
{
    padding:15px;
}

#content .column2 .article
{
    border-right:310px solid #ECF2F3;
    margin-right:-310px;
    padding:0 15px;
    width:620px;
    float:left;
}
#content .column2 .aside
{
    background:#ECF2F3;
    width:310px;
    float:right;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/

#footer
{
    background:#EEE;
    color:#777;
    border-top:1px solid #CCC;
    margin-top:20px;
    padding: 10px 0 20px;
    font-size: 0.8em;
    clear:both;
}
#footer .copyright
{
}

