/*==== @topics-list ====*/
.topics-list {
}
.topics-list .topic {
  position:relative;
  overflow:hidden;
  padding:10px 65px 10px 78px;
  border-top:1px solid #E2E2E2;
  line-height:180%;
}
.topics-list .entry-author {
  position:absolute;
  left:15px;
  top:10px;
}
.topics-list .entry-author a {
  display:block;
  text-align:center;
}
.topics-list .entry-title {
  font-weight:normal;
  font-size:16px;
}
.topics-list .entry-meta {
  margin-top:8px;
  line-height:160%;
  color:#999;
}
.topics-list .tags-list {
  border-left:1px solid #CCC;
  padding-left:10px;
  margin-left:5px;
}
.topics-list .reply-count {
  position:absolute;
  top:18px;
  right:15px;
  text-align:center;
  font-weight:bold;
}
.topics-list .reply-count span {
  color:#FFF;
  display:block;
  margin:0 0 5px 0;
  padding:2px 12px;
  line-height:12px;
  border-radius:12px;
}
.topics-list .reply-count:link,
.topics-list .reply-count:active {
  color:#555;
}
.topics-list .reply-count:visited {
  color:#CCC;
}
.topics-list .reply-count:hover {
  color:#333;
}
.topics-list .reply-count:link span,
.topics-list .reply-count:active span {
  background:#AAB0C6;
}
.topics-list .reply-count:visited span {
  background:#EEE;
}
.topics-list .reply-count:hover span {
  background:#969CB1;
}

/*==== @tags-list ====*/
.tags-list {
  display:inline;
}
.tags-list li {
  display:inline;
  background:#E9E9E9;
  padding:3px 5px;
  margin:0 1px;
  border-radius: 3px;
}

/*==== @replies-list ====*/
.replies-list {}
.replies-list .reply {
  overflow:auto;
  padding:10px 0;
  border-top:1px solid #E2E2E2;
}
.replies-list .reply-author .user-avatar-link {
  float:left;
  margin:0 15px 0 10px;
}
.replies-list .reply-meta,
.replies-list .reply-utility {
  padding:0 10px;
}
.replies-list .reply-meta {}
.replies-list .reply-content {
  line-height:160%;
  margin-left:73px;
  padding:10px 0;
}
.replies-list .reply-utility {
  text-align:right;
}
.replies-list .reply-utility a {
}

/*==== @topics-form ====*/
.topics.new .container,
.topics.edit .container {
  background:#FFF url(../images/edit_topic_bg.png) repeat-y 0 0 !important;
}
.topics.new .main-column,
.topics.edit .main-column {
  width:660px;
  float:left;
}
.topics.new .side-column,
.topics.edit .side-column {
  width:300px;
  float:right;
}

.topics.new .block,
.topics.edit .block {
  background:#EEE;
  padding:10px 30px 10px 20px;
  margin:10px 0;
  border-radius:5px;
  color:#555;
  position:relative;
}
.topics.new .block.type-text input,
.topics.edit .block.type-text input {
  width:100%;
}
.topics.new .block .field,
.topics.edit .block .field {
  margin:10px 0 0;
}

form .button {
  background:#F2F2F2 url(../images/white-grad.png) repeat-x scroll left top;
  border:1px solid #BBB;
  padding:3px 10px;
  border-radius:11px;
  font-size:11px!important;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
form .button:hover {
  border-color:#666;
}
form .submit {
  background:#21759B url(../images/button-grad.png) repeat-x scroll left top;
  color:#FFF;
  border-color:#298CBA;
  text-shadow:rgba(0, 0, 0, 0.3) 0 -1px 0;
  font-weight:bold;
}



.topics.new .block .move-button,
.topics.edit .block .move-button,
.topics.new .block .close-button,
.topics.edit .block .close-button {
  background:url(../images/edit_topic_button.png) no-repeat 0 0;
  display:block;
  overflow:hidden;
  text-indent:-9999px;
  height:16px;
  position:absolute;
  top:10px;
}
.topics.new .block .move-button,
.topics.edit .block .move-button {
  width:9px;
  cursor:move;
  background-position:right 0;
  left:8px;
}
.topics.new .block .close-button,
.topics.edit .block .close-button {
  width:16px;
  background-position:-26px 0;
  right:8px;
}
.topics.new .block .close-button:hover,
.topics.edit .block .close-button:hover {
  background-position:left 0;
}


/*==== @topics#show ====*/
.topics.show .topic {
  position:relative;
}
.topics.show .topic .head {
  border-bottom:1px solid #EEE;
  padding:5px 10px 0;
}
.topics.show .topic .entry-title {
  margin:0 80px 0 0;
  font-weight:normal;
  font-size:19px;
  line-height:160%;
  color:#222;
}
.topics.show .topic .entry-meta {
  line-height:200%;
  color:#AAA;
}
.topics.show .topic .entry-meta a {
  color:#48F;
}
/*
.topics.show .topic-content a.mark,
.topics.show .topic-content.marked a.mark:hover {
  display:inline-block;
  position:relative;
  top:3px;
  width:20px;
  height:20px;
  background:transparent url(../images/star-0.png) no-repeat center center;
  text-indent:-9999px;
  overflow:hidden;
}

.topics.show .topic-content.marked a.mark,
.topics.show .topic-content a.mark:hover {
  background-image:url(../images/star-4.png);
}

*/
.topics.show .topic .bookmarks {
  position:absolute;
  text-align:center;
  width:80px;
  right:0;
  top:10px;
  color:#888;
}
.topics.show .topic .bookmarks .sum
{
    font:bold 18px Verdana;
    display:block;
}
.topics.show .topic .entry-content {
  margin:20px 15px 30px;
}
.topics.show .topic .entry-utility {
  padding:5px;
  text-align:right;
}
.topics.show .topic .entry-utility a {
  margin:0 0 0 0.5em;
}
.topics.show .replies-blank {
  margin-bottom:20px;
  text-align:center;
}

.topics.show .author-profile {
}
.topics.show .author-profile .icon {
  float:left;
  margin:10px 15px;
}
.topics.show .author-profile .user {
  margin-top:10px;
}
.topics.show .author-profile .user-link {
  font-size:16px;
}
.topics.show .author-profile .user-stats
{
    padding:20px 0 20px;
    margin:0 auto;
    overflow:hidden;
    width:270px;
}
.topics.show .author-profile .user-stats dl
{
    float:left;
    width:90px;
    text-align:center;
    border-left:1px solid #CCC;
    margin:0;
    margin-left:-1px;
}
.topics.show .author-profile .user-stats dl .sum
{
    font:bold 16px Verdana;
    margin-bottom:7px;
}

.topics.show .reply-form {
}


/*==== @accounts#edit ====*/
.accounts.edit, .accounts.show {}
.accounts.edit, .accounts.show .field {
  margin:0.5em;
}
.accounts.edit, .accounts.show label {
  display:inline-block;
  width:80px;
}
