dl.object
{
    margin: 0 0 10px 0;
    width:75px;
    float: left;
    display: inline;
    text-align:center;
}

dl.object dt
{
    height:50px;
}
dl.object dd
{
    margin:0;
    height:24px;
}


/*===   @group-index   ===*/
.group-index
{}
.group-index h2
{
    font-size:160%;
    clear:both;
    margin-bottom:15px;
}

/*===   @group-view   ===*/
.group-view
{
}
.group-view .article
{
    background:#ECF2F3;
    padding-top:20px;
    width:280px;
    float:right;
}
.group-view .aside
{
    border-radius: 0 5px 5px 0;
    width:620px;
    float:left;
}


.group-view #group-info
{
    position:relative;
    margin-bottom:20px;
    padding:10px 0;
    clear:both;
    overflow:hidden;
}
.group-view .page-action .button
{
    padding:0 8px;
    background:#EEE;
    border-radius: 5px;
    border:1px solid #FBE;
    display:block;
    float:left;
    color:#F69;
    font-size:14px;
    font-weight:bold;
}
.group-view .page-action .button:hover
{
    background:#F69;
    color:#FFF;
}

.group-view .topics-top
{
}
.group-view .topics-top .tags-list
{
    list-style:none;
}
.group-view .topics-top .tags-list li
{
    display:inline;
    margin:0 2px;
}
.group-view .topics-top .tags-list li a
{
    padding:4px 7px;
    background:#DDD;
    color:#777;
    font-size:13px;
    border-radius: 3px;
}
.group-view .topics-top .tags-list li a:hover
{
    background:#09F;
    color:#FFF;
}
.group-view .topics-top .new-topic
{
    float:right;
    padding:4px 7px;
    background:#E6E6E6;
    color:#777;
    font-size:13px;
    border-radius: 3px;
}
.group-view .topics-top .new-topic:hover
{
    color:#F39;
}

.group-view .group-info
{
}
.group-view .group-icon
{
    margin:0 15px 20px 0;
    width:80px;
    height:80px;
    float:left;
}
.group-view .group-name
{
    font-size:180%;
    line-height:140%;
}
.group-view .group-name .status
{
    margin-left:5px;
    color:#777;
    font-size:12px;
    font-weight:normal;
}
.group-view .group-stats
{
    padding:20px 0 20px;
    margin:0 auto;
    overflow:hidden;
    width:270px;
}
.group-view .group-stats dl
{
    float:left;
    width:90px;
    text-align:center;
    border-left:1px solid #CCC;
    margin:0;
    margin-left:-1px;
}
.group-view .group-stats dl .sum
{
    font:bold 16px Verdana;
    margin-bottom:7px;
}
.group-view .group-intro
{
    line-height:180%;
}
/*=== @topics-list ===*/
.topics-list
{
}
.topics-list tr
{
}
.topics-list td, .topics-list th
{
}
.topics-list .sticky
{
    background:url(../images/sticky.gif) no-repeat 0 center;
    width:15px;
    height:12px;
    display:block;
    float:left;
    overflow:hidden;
    text-indent:-1000px;
}

.topics-list .author
{
    width:16%;
}
.topics-list .comments,
.topics-list .time
{
    width:15%;
    text-align:right;
}
.topics-list .comments
{
    width:10%;
}

.group-members h2
{
    font-size:160%;
}
.group-members .list
{
    clear:both;
    overflow:hidden;
}
/*===   @topic-view   ===*/
.topic-view
{
}
.topic-view h1
{
    font-size:180%;
    margin:5px 10px;
}
.topic-view .user-icon
{
    width:48px;
    height:48px;
    float:left;
    margin-right:22px;
}
.topic-view .user-info
{
    font-size:1.2em;
    color:#777;
    margin:0 0 20px 0;
    padding:3px 0;
    font-weight:normal;
}
.topic-view .user-info .date
{
    color:#ff50c3;
}

.topic-view .topic-content
{
}
.topic-view .topic-content .topic-body, .topic-view .topic-reply p
{
    color:#333;
    font-size:1.1em;
    line-height:160%;
    margin:0 0 20px 0;
}
.topic-view .topic-content .topic-body
{
    margin-left:70px;
}
.topic-view .topic-content .topic-body .action-list
{
    margin:30px 0 0 0;
    list-style:none;
}
.topic-view .topic-content .topic-body .action-list li
{
    display:inline;
    margin:0 3px;
}

.topic-view .topic-reply
{
    list-style:none;
    margin:0;
    padding:0;
}
.topic-view .topic-reply li
{
    overflow:hidden;
    margin:0 0 15px 0;
}
.topic-view .topic-reply .reply-body
{
    margin:0 0 0 70px;
}
.topic-view .topic-reply .user-info
{
    font-size:1.1em;
    background:#F3F3F3;
    padding-left:4px;
}
.topic-view .topic-reply .user-info .date
{
    color:inherit;
}
.topic-view .topic-reply .delete
{
    float:right;
    color:#BBB;
}


.topic-view .top10
{

}
.topic-view .top10 ul
{
    list-style:none;
    padding:0;
}
.topic-view .top10 ul li
{
    margin:1em 0;
    line-height: 150%;
    border-bottom: 1px dashed #DDD;
}
.topic-view .top10 ul li .author-name
{
    margin-left:0.5em;
    color:#777;
}


/*===   @people-view   ===*/
.people-view .article
{
    background:#ECF2F3;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    width:280px;
}
.people-view .aside
{
    width:620px;
}
.people-view .people-icon
{
    width:120px;
    margin:0 15px 15px 0;
    float:left;
    overflow:hidden;
}
.people-view .people-profile
{
    width:145px;
    margin:0 0 15px 0;
    float:left;
}
.people-view .people-profile .name
{
    font-size:160%;
    /*
    text-shadow: 0 1px 0 #C3C3C6;
    -moz-text-shadow: 0 1px 0 #C3C3C6;
    -webkit-text-shadow: 0 1px 0 #C3C3C6;
    */
}
.people-view .people-profile .signatrue
{
    display:none;
}

.people-view .people-menu
{
    clear:both;
    padding:10px 0;
}
.people-view .people-menu a
{
    background:#DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding:4px 7px;
    margin:0 8px 0 0;
}
.people-view .people-intro
{
    clear:both;
    padding:10px 0;
}

/*===   @messages-box   ===*/
.messages-box
{}
.messages-box .messages-list
{}
.messages-box .messages-list .author
{
    width:23%;
}
.messages-box .messages-list .title
{}
.messages-box .messages-list .send_time
{
    width:15%;
}
.messages-box .messages-list .unread
{
    font-weight:bold;
}


/*===   @tag-view   ===*/
.tag-view
{
}
.tag-view .tags-list
{
    list-style:none;
}
.tag-view .tags-list li
{
    display:inline;
    margin:0 5px;
    font-size:25px;
    font-weight:bold;
    vertical-align:top;
}
.tag-view .tags-list li .delete
{
    margin-left:5px;
    font-size:12px;
    font-weight:normal;
    padding:0px 3px;
    background:#EEE;
    color:#F69;
}
.tag-view .tags-list li .delete:hover
{
    background:#F69;
    color:#FFF;
}
/*===   @search-view   ===*/
.search-view
{
}
.search-view .search-box
{
    text-align:center;
    margin:15px 0;
}

/*===   @result-list   ===*/
.result-list
{
}
.result-list .item
{
    border-bottom:1px dashed #CCC;
    padding:10px 0 20px;
}
.result-list .item .icon
{
    float:left;
    margin:0 10px;
}
.result-list .item .content
{
    margin-left:68px;
}
.result-list .item .title
{
    font-size:14px;
    font-weight:normal;
    margin:0 0 5px 0;
}
.result-list .item .meta
{
    float:right;
    margin:-2em 0 0;
}
.result-list .item .intro
{
    margin:0;
}

