= editor.text_area field, :id => "#{editor.object.class.name.downcase}-editor", :class => :editor
:javascript
  seajs.use('application', function(app){
    app.editor('##{editor.object.class.name.downcase}-editor', {
    });
  });

