%ul.nodes-list
  - list = Node.split_to_nodes(list) if list.is_a? String
  - list = [] if !list
  - list = list.slice(0, display) if display
  - list.each do |node|
    - node = node.name if node.is_a? Node
    %li=link_to node, node_path(node)

