.widget.main-list
  %h3.widget-title= 'Topic List'
  .widget-utility
    = link_to t('.new_topic'), new_topic_path
  = render :partial => "forum/topics/list_#{@page_info[:list_mode]}", :object => @topics

- content_for :aside do
  .widget.node-info
